<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1>Add new User</h1>
<!--    <div th:if="${session.msg}">-->
<!--        <h5 th:text="${session.msg}"></h5>-->

<!--    </div>-->
<!--    //action ma  vako controller ma khojxa mapping-->
<!--    //object chai kun object Model ma use garya xa tao-->
    <form th:action="@{teacher}" method="post">
        <div class="mb-3">
            <label>Enter name</label> <input type="text" name="teacher_name"
                                              class="form-control">
        </div>

        <div class="mb-3">
            <label>Enter Date of birth </label> <input type="Date"
                                                 name="dob" class="form-control">
        </div>


        <div class="mb-3">
            <label>Enter phone </label> <input type="number"
                                         name="phone" class="form-control">
        </div>
        <div class="mb-3">
            <label>Enter email</label> <input type="text" name="email"
                                             class="form-control">
        </div>
        <div class="mb-3">
            <label>Enter address</label> <input type="text" name="address"
                                             class="form-control">
        </div>
        <button class="btn btn-primary col-md-12">submit</button>
    </form>
</section>
</body>
</html>